* {
    margin: 0 0;
    padding: 0 0;
}

body {
    background-color: #2B2C2F;
    position: relative;
}

ul {
    list-style-type: none;
}

.container {
    background-color: green;
    
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 50px;
    height: 2500px;
}

.right-arrow {
    background-color: red;
    position: fixed;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}